body {
  background-color: #DFC0FF;
  /* text-align: center; */
}

#budget-list-body {
  background-image: url('./images/stevenuniverse3.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.budget-list-body {
  text-align: center;
}

.create-budget-button {
  background-color: white;
  color: purple;
  width: 150px;
  border-radius: 7px;
  margin-top: 10px;
}

.budget-list-header {
  color: white;
}

.budget-list {
  color: white;
}

.button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
}

.single-budget-content {
  text-align: center;
}

.single-budget-buttons {
  margin-top: 5px;
}

.edit-budget-name-button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
  float: right;
}

.edit-budget-form {
  text-align: center;
}

.budget-delete-button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
  float: right;
  margin-top: 20px;
}

.edit-submit-button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
  margin-top: 20px;
}

.single-expense-content {
  text-align: center;
}

.single-expense-buttons {
  margin-top: 20px;
}

.create-expense-button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
  margin-bottom: 5px;
}




