body {
  background-color: #DFC0FF;
  /* text-align: center; */
}

#budget-list-body {
  background-image: url('./images/stevenuniverse3.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.budget-list-body {
  text-align: center;
}

.create-budget-button {
  background-color: white;
  color: purple;
  width: 150px;
  border-radius: 7px;
  margin-top: 10px;
}

.create-budget-form {
  text-align: center;
}

.budget-list-header {
  color: white;
}

.budget-list {
  color: white;
}

.button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
}

.single-budget-content {
  text-align: center;
}

.single-budget-buttons {
  margin-top: 5px;
}

.steven3 {
  width: 110px;
  float: left;
  
}

.budget-header {
  margin-top: 50px;
}

#create-budget-form {
  background-image: url('./images/stevenuniverse1.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.edit-budget-name-button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
  float: right;
}

#edit-budget-form {
  background-image: url('./images/stevenuniverse3.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.edit-budget-form {
  text-align: center;
}

.budget-delete-button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
  float: right;
  margin-top: 20px;
}

.edit-submit-button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
  margin-top: 20px;
}

#expenses-table-view {
  background-image: url('./images/stevenuniverse3.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.expense-table {
  /* width: 70%;  */
}

.expense-name-due-est {
  margin-bottom: 5px;
}

.single-expense-content {
  text-align: center;
}

.single-expense-buttons {
  margin-top: 20px;
}

.new-expense-form {
  color: white;
}

.create-expense-button {
  background-color: purple;
  color: white;
  width: 150px;
  border-radius: 7px;
  margin-bottom: 5px;
}

#single-expense-content {
  background-image: url('./images/stevenuniverse3.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.edit-expense-form {
  text-align: center;
  color: white;
}

#edit-expense-form {
  background-image: url('./images/stevenuniverse3.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}
